# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/

# VS Code config
.vscode/

# Dataset (do not track)
dataset/

# SentencePiece models
*.model
*.vocab
sp_*.txt

# COMET models
wmt22-comet-da/